@model string

@{
    ViewData["Title"] = "Iskanje";
}

<h2>Iskanje</h2>

<form asp-action="SearchResults" method="post">
    <div class="form-group">
        <label for="searchTerm">Išči po imenu ali priimku avtorja in naslovu knjige: </label>
        <input type="text" name="searchTerm" class="form-control" value="@Model" />
    </div>
    <button type="submit" class="btn btn-outline-primary">Išči</button>
</form>
